@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Manrope';
    margin: 0px;
}
body {
    display: flex;
    min-height: 100vh;
    background: #a7b2bd;
    justify-content: center;
}
footer {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
}
footer p {
    color: #5b7dbd;
}
.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 835px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.header {
    background: #b9c5d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 4px solid #798995;
    border-radius: 15px;
}
.nav-menu {
    display: grid;
    gap: 200px;
    padding: 20px 70px 20px 70px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}
.link {
    text-decoration: none;
    color: #5b7dbd;
    font-size: 25px;
}
.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
}
.main-home h2 {
    font-size: 30px;
}
.main-home p {
    font-size: 20px;
}
.main-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
}
.main-about h2 {
    font-size: 30px;
}
.main-about p {
    font-size: 20px;
}
.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
}
.main-contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #798995;
    border-radius: 15px;
    padding: 20px;
    gap: 15px;
    background: #b9c5d1;
    max-width: 300px;
    width: 100%;
}
.main-contact form .input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-contact form .input-area input {
    width: 100%;
}
.main-contact form .input-area textarea {
    max-width: -webkit-fill-available;
}
.main-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 40px;
}
.main-result p {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}