<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Contact information</title>
</head>
<body>
    <div>
        <h1>Contact us</h1>
        <ul>
            <li>
                <h1>Mail</h1>
                <a>companymail@yahoo.com</a>
            </li>
            <li>
                <h1>Phone number</h1>
                <a>+79999999999</a>
            </li>
            <li>
                <h1>Address</h1>
                <a>108888, Pushkin street, house of Kolotushkin</a>
            </li>
        </ul>
    </div>
    <div style='display: flex; justify-content: center; margin-top: 50px;'>
        <img src='{{ url_for("static", filename="img/111.jpg") }}' alt='image'>
    </div>
</body>
</html>