<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Form Example</title>
    <link rel='stylesheet' href='{{ url_for("static", filename="css/styles.css") }}'>
</head>
<body>
    <div class='container'>
        <input type='checkbox' id='toggle'>
        <label for='toggle' class='button'></label>
        <div class='form'>
            <form action='/submit' method='POST' class='form-in'>
                <h1>Enter Your Details</h1>
                <div class='input-area'>
                    <label for='name'>Name:</label>
                    <input type='text' id='name' class='form-in-border' name='name' required>
                </div>
                <div class='input-area'>
                    <label for='email'>Email:</label>
                    <input type='email' id='email' name='email' class='form-in-border' required>
                </div>
                <div class='add-area'>
                    <div class='input-area'>
                        <label for='color'>Fav Color:</label>
                        <input type='color' id='color' class='form-in-border' name='color'>
                    </div>
                    <div class='input-area'>
                        <label for='profession'>Profession:</label>
                        <select id='profession' name='profession' class='form-in-border'>
                            <option value='developer'>Developer</option>
                            <option value='designer'>Designer</option>
                            <option value='manager'>Manager</option>
                        </select>
                    </div>
                    <div class='input-area'>
                        <p>Your Hobbies:</p>
                        <div class='add-input-area'>
                            <label><input type='checkbox' name='hobbies' value='books'> Books</label>
                            <label><input type='checkbox' name='hobbies' value='sports'> Sports</label>
                            <label><input type='checkbox' name='hobbies' value='games'> Games</label>
                        </div>
                    </div>
                    <div class='input-area'>
                        <p>Your Level:</p>
                        <div class='add-input-area'>
                            <label><input type='radio' name='level' value='beginner'> Beginner</label>
                            <label><input type='radio' name='level' value='advanced'> Advanced</label>
                        </div>
                    </div>
                </div>
                <button type='submit' class='from-in-border submit-button'>Submit</button>
                <div>
                    <input type='checkbox' id='show-img'>
                    <label for='show-img' class='egg-button'>Click me!</label>
                    <div class='image'>
                        <img src='{{ url_for("static", filename="img/111.jpg") }}' alt='image' class='egg-image'>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>